<h1> Property by <%= @property.user.name %></h1>
<table>
	<tr>
		<td><%= @property.location %></td>
	</tr>
	<tr>
		<td><%= @property.title %></td>
	</tr>
		<tr>
		<td><%= @property.description %></td>
	</tr>
		<tr>
		<td><%= @property.rental %></td>
	</tr>
	<tr>
		<td><a href="/users/<%= @user.id %>"><button>Back to your profile</button></a></td>
	</tr>
	<tr>
		<td><a href="/comments/<%= @property.id %>/new"><button>Comment Here</button></a></td>
	</tr>
</table>
<br>
<br>
<br>
<h3> Comment : </h3>
<% @comment.each do |komen| %>
	
	<p><%= komen.comment %> by <%= @property.user.name %></p>

<% end %>



<!-- <table>
	<tr>
		<td>Comment Here:</td>
	</tr>
	<tr>
		<form action="/comments/<%= @property.id %>" method="post">
			<td>
				<textarea rows="10" cols="80" name="comment"></textarea>
			
			</td>
		</tr>
		<tr>
			<td><input type="submit" value="Comment"></td>
		</form>
	</tr>		
</table>
<br>
<table>
	<tr>
		<td>Comment by user: </td>
	</tr>
		<% @property.comments.each do |komen| %>
			<tr>
				<td><%= komen.comment %></td>
			</tr>
		<% end %>
</table> -->