<h1> Property by <%= @property.user.name %></h1>
<table>
	<tr>
		<td><%= @property.location %></td>
	</tr>
	<tr>
		<td><%= @property.title %></td>
	</tr>
		<tr>
		<td><%= @property.description %></td>
	</tr>
		<tr>
		<td><%= @property.rental %></td>
	</tr>
	<tr>
		<td><a href="/users/<%= @user.id %>"><button>Back to your profile</button></a></td>
	</tr>
	<tr>
		<form action = "/bookings/new" method="get">
			<td>
				<input type="hidden" name="id" value="<%= @property.id%>">
				<input type="submit" value="Book This Property">
			</td>
		</form>
	</tr>

<br>
<br>

<table>
	<h3> Comment Here </h3>
<form action="/comments" method="post">
		<td>
			<textarea rows="10" cols="80" name="comment"></textarea>
			<input type="hidden" name="property_id" value="<%=@property.id%>">

		</td>
	</tr>
	<tr>
		<td><input type="submit" value="Comment"></td>
	</tr>
</form>
</table>
<br>
<br>

<table>
	<tr>
		<td>Comment by user: </td>
	</tr>
		<% @property.comments.each do |komen|  %>
			<tr>
				<td><%= komen.comment %> by <%=komen.user.name %></td>
			</tr>
			<tr>
				<% if komen.user.id == session[:user_id] %>
					<td><a href="/comments/<%= komen.id%>/edit"><button>edit</button></a></td>
					<td>
						<form action="/comments/<%= komen.id %>" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Delete Comment">
					</td>
				<% end %>
			</tr>
		<% end %>
</table>



